<app-header></app-header>

<section class="relative w-full min-h-screen bg-cover bg-center flex items-center justify-center mt-8 pt-20"
         style="background-image: url('assets/logo_blanco.svg');"
         [@fadeIn]>
  <div class="absolute inset-0 bg-black/40 backdrop-blur-sm"></div>
  <div class="z-10 text-center text-white px-4 w-full max-w-screen-2xl mx-auto">
    <h2 class="text-5xl font-bold mb-8">Nuestros Servicios</h2>
    <p class="text-xl mb-12">
      Descubre nuestra amplia gama de tratamientos profesionales para realzar tu belleza natural.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 px-4">
      <div class="service-card" *ngFor="let service of services" [@fadeIn]>
        <div class="relative h-64 bg-cover bg-center rounded-lg overflow-hidden"
             [style.background-image]="'url(' + service.image + ')'">
          <div class="absolute inset-0 bg-black/30"></div>
          <div class="absolute bottom-4 left-4 text-white">
            <h3 class="text-xl font-semibold">{{ service.name }}</h3>
          </div>
        </div>
        <div class="p-4 bg-white/10 backdrop-blur-md rounded-b-lg">
          <p class="text-gray-200 mb-2">{{ service.description }}</p>
          <p class="text-amber-300 font-semibold">{{ service.price }}</p>
          <button class="mt-4 px-6 py-2 bg-amber-500 text-black font-bold rounded-full hover:bg-amber-400 transition transform hover:scale-105">
            <a routerLink="/reservacion-cita">Reservar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>