<div class="chat-window" *ngIf="isVisible" [@chatWindowAnimation]="isVisible ? 'open' : 'closed'">
  <div class="chat-header">
    <span>Chat en vivo con IA</span>
    <button (click)="toggleChat()">Cerrar</button>
  </div>
  <div class="chat-body">
    <div *ngFor="let message of messages">
      <div [ngClass]="message.user === 'user' ? 'user-message' : 'bot-message'">
        <p>{{ message.text }}</p>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <input type="text" [(ngModel)]="userMessage" placeholder="Escribe tu mensaje..." (keyup.enter)="sendMessage(userMessage)" />
    <button (click)="sendMessage(userMessage)">Enviar</button>
  </div>
</div>

<button class="chat-toggle-btn" (click)="toggleChat()">
  <img src="assets/chat_boot.png" alt="Chat" />
</button>